body {
  max-width: 755px;
  text-align: center;
  margin: 0 auto;
}

.sprite-container {
  padding-top: 50px;
}

.nhl-row-1 {
  max-width: 755px;
  padding-bottom: 180px
}

.nhl-row-2 {
  max-width: 1000px;
  /* padding-top: 20px; */
  /* padding-left: 40px; */
}

.sprite {
  cursor: pointer;
  float: left;
  padding-top: 10px;
  padding-right: 20px;
  background: url("nhl-team-sprite.png") no-repeat;
}

.sprite:hover {
  opacity: .7;
}

.sprite.eastern-conference-logo:hover {
  opacity: 1.0;
}

.sprite.western-conference-logo:hover {
  opacity: 1.0;
}

.sprite.eastern-conference-logo {
  cursor: default;
  background-position: 0 0;
  width: 173px;
  height: 125px;
}

.sprite.boston-bruins {
  background-position: -198px 0;
  width: 50px;
  height: 50px;
}

.sprite.buffalo-sabres {
  background-position: -273px 0;
  width: 50px;
  height: 50px;
}

.sprite.carolina-hurricanes {
  background-position: -198px -75px;
  width: 50px;
  height: 50px;
}

.sprite.columbus-blue-jackets {
  background-position: -273px -75px;
  width: 50px;
  height: 50px;
}

.sprite.detroit-red-wings {
  background-position: -348px 0;
  width: 50px;
  height: 50px;
}

.sprite.florida-panthers {
  background-position: -423px 0;
  width: 50px;
  height: 50px;
}

.sprite.montreal-canadiens {
  background-position: -498px 0;
  width: 50px;
  height: 50px;
}

.sprite.new-jersey-devils {
  background-position: -348px -75px;
  width: 50px;
  height: 50px;
}

.sprite.new-york-islanders {
  background-position: -425px -75px;
  width: 50px;
  height: 50px;
}

.sprite.new-york-rangers {
  background-position: -500px -75px;
  width: 50px;
  height: 50px;
}

.sprite.ottawa-senators {
  background-position: -573px 0;
  width: 50px;
  height: 50px;
}

.sprite.philadelphia-flyers {
  background-position: -575px -75px;
  width: 50px;
  height: 50px;
}

.sprite.pittsburgh-penguins {
  background-position: -648px -75px;
  width: 50px;
  height: 50px;
}

.sprite.tampa-bay-lightning {
  background-position: -648px 0;
  width: 50px;
  height: 50px;
}

.sprite.toronto-maple-leafs {
  background-position: -723px 0;
  width: 50px;
  height: 50px;
}

.sprite.washington-capitals {
  background-position: -723px -75px;
  padding-right: 0;
  width: 50px;
  height: 50px;
}

.sprite.western-conference-logo {
  cursor: default;
  background-position: -0px -200px;
  padding-right: 15px;
  width: 177px;
  height: 125px;
}

.sprite.anaheim-ducks {
  background-position: -198px -200px;
  width: 50px;
  height: 50px;
}

.sprite.arizona-coyotes {
  background-position: -273px -200px;
  width: 50px;
  height: 50px;
}

.sprite.calgary-flames {
  background-position: -348px -200px;
  width: 50px;
  height: 50px;
}

.sprite.chicago-blackhawks {
  background-position: -198px -275px;
  width: 50px;
  height: 50px;
}

.sprite.colorado-avalanche {
  background-position: -273px -275px;
  width: 50px;
  height: 50px;
}

.sprite.dallas-stars {
  background-position: -348px -275px;
  width: 50px;
  height: 50px;
}

.sprite.edmonton-oilers {
  background-position: -423px -200px;
  width: 50px;
  height: 50px;
}

.sprite.los-angeles-kings {
  background-position: -498px -200px;
  width: 50px;
  height: 50px;
}

.sprite.minnesota-wild {
  background-position: -423px -275px;
  width: 50px;
  height: 50px;
}

.sprite.nashville-predators {
  background-position: -498px -275px;
  width: 50px;
  height: 50px;
}

.sprite.san-jose-sharks {
  background-position: -573px -200px;
  width: 50px;
  height: 50px;
}

.sprite.st-louis-blues {
  background-position: -573px -275px;
  width: 50px;
  height: 50px;
}

.sprite.vancouver-canucks {
  background-position: -648px -200px;
  width: 50px;
  height: 50px;
}

.sprite.vegas-golden-knights {
  background-position: -723px -200px;
  width: 50px;
  height: 50px;
}

.sprite.winnipeg-jets {
  background-position: -648px -275px;
  width: 50px;
  height: 50px;
}
