body {
  max-width: 1000px;
}

.sprite-container {
  position: absolute;
}

/* .boston-bruins, .buffalo-sabres, .carolina-hurricanes, .columbus-blue-jackets, .detroit-red-wings, .florida-panthers, .montreal-canadiens, .new-jersey-devils, .new-york-islanders, .new-york-rangers, .ottawa-senators, .philadelphia-flyers, .pittsburgh-penguins, .tampa-bay-lightning, .toronto-maple-leafs, .washington-capitals, .eastern-conference-logo, .western-conference-logo, .anaheim-ducks, .arizona-coyotes, .calgary-flames, .chicago-blackhawks, .colorado-avalanche, .dallas-stars, .edmonton-oilers, .los-angeles-kings, .minnesota-wild, .nashville-predators, .san-jose-sharks, .st-louis-blues, .vancouver-canucks, .vegas-golden-knights, .winnipeg-jets {
  background: url(sprites.png) no-repeat;
} */


.nhl-row-1 {
width: 1260px;
padding-bottom: 50px
}

.nhl-row-2 {
  padding-top: 20px;
  padding-left: 40px;
  width: 1260px
}

.sprite {
  /* position: absolute; */
  cursor: pointer;
  float: left;
  padding-right:20px;
  background: url("nhl-sprite.png") no-repeat;
}
.sprite:hover {
    opacity: .7;
}

.sprite.eastern-conference-logo {
  padding-right:15px;
  background-position: 0 0;
  width: 70px;
  height: 50px;
}

.sprite.boston-bruins {
  background-position: -85px 0;
  width: 50px;
  height: 50px;
}

.sprite.buffalo-sabres {
  background-position: -160px 0;
  width: 50px;
  height: 50px;
}

.sprite.carolina-hurricanes {
  background-position: -235px 0;
  width: 50px;
  height: 50px;
}

.sprite.columbus-blue-jackets {
  background-position: -310px 0;
  width: 50px;
  height: 50px;
}

.sprite.detroit-red-wings {
  background-position: -385px 0;
  width: 50px;
  height: 50px;
}

.sprite.florida-panthers {
  background-position: -460px 0;
  width: 50px;
  height: 50px;
}

.sprite.montreal-canadiens {
  background-position: -535px 0;
  width: 50px;
  height: 50px;
}

.sprite.new-jersey-devils {
  background-position: -610px 0;
  width: 50px;
  height: 50px;
}

.sprite.new-york-islanders {
  background-position: -685px 0;
  width: 50px;
  height: 50px;
}

.sprite.new-york-rangers {
  background-position: -760px 0;
  width: 50px;
  height: 50px;
}

.sprite.ottawa-senators {
  background-position: -835px 0;
  width: 50px;
  height: 50px;
}

.sprite.philadelphia-flyers {
  background-position: -910px 0;
  width: 50px;
  height: 50px;
}

.sprite.pittsburgh-penguins {
  background-position: -985px 0;
  width: 50px;
  height: 50px;
}

.sprite.tampa-bay-lightning {
  background-position: -1060px 0;
  width: 50px;
  height: 50px;
}

.sprite.toronto-maple-leafs {
  background-position: -1135px 0;
  width: 50px;
  height: 50px;
}

.sprite.washington-capitals {
  background-position: -1210px 0;
  padding-right: 0;
  width: 50px;
  height: 50px;
}

.sprite.western-conference-logo {
  background-position: -38px -75px;
  width: 70px;
  height: 50px;
}

.sprite.anaheim-ducks {
  background-position: -123px -75px;
  width: 50px;
  height: 50px;
}

.sprite.arizona-coyotes {
  background-position: -198px -75px;
  width: 50px;
  height: 50px;
}

.sprite.calgary-flames {
  background-position: -273px -75px;
  width: 50px;
  height: 50px;
}

.sprite.chicago-blackhawks {
  background-position: -348px -75px;
  width: 50px;
  height: 50px;
}

.sprite.colorado-avalanche {
  background-position: -423px -75px;
  width: 50px;
  height: 50px;
}

.sprite.dallas-stars {
  background-position: -498px -75px;
  width: 50px;
  height: 50px;
}

.sprite.edmonton-oilers {
  background-position: -573px -75px;
  width: 50px;
  height: 50px;
}

.sprite.los-angeles-kings {
  background-position: -648px -75px;
  width: 50px;
  height: 50px;
}

.sprite.minnesota-wild {
  background-position: -723px -75px;
  width: 50px;
  height: 50px;
}

.sprite.nashville-predators {
  background-position: -798px -75px;
  width: 50px;
  height: 50px;
}

.sprite.san-jose-sharks {
  background-position: -873px -75px;
  width: 50px;
  height: 50px;
}

.sprite.st-louis-blues {
  background-position: -948px -75px;
  width: 50px;
  height: 50px;
}

.sprite.vancouver-canucks {
  background-position: -1023px -75px;
  width: 50px;
  height: 50px;
}

.sprite.vegas-golden-knights {
  background-position: -1098px -75px;
  width: 50px;
  height: 50px;
}

.sprite.winnipeg-jets {
  background-position: -1173px -75px;
  width: 50px;
  height: 50px;
}
