body {
  max-width: 1260px;
  text-align: center;
  margin: 0 auto;
}

.sprite-container {
  padding-top: 100px;
}

.nhl-row-1 {
  width: 1000px;
  padding-bottom: 50px
}

.nhl-row-2 {
  width: 1000px;
  padding-top: 20px;
  padding-left: 40px;
}

.sprite {
  cursor: pointer;
  float: left;
  padding-right: 20px;
  background: url("nhl-sprite.png") no-repeat;
}

.sprite:hover {
  opacity: .7;
}

.sprite.eastern-conference-logo {
  padding-right: 15px;
  background-position: 0 0;
  width: 70px;
  height: 50px;
}

.sprite.boston-bruins {
  background-position: -85px 0;
  width: 50px;
  height: 50px;
}

.sprite.buffalo-sabres {
  background-position: -160px 0;
  width: 50px;
  height: 50px;
}

.sprite.carolina-hurricanes {
  background-position: -235px 0;
  width: 50px;
  height: 50px;
}

.sprite.columbus-blue-jackets {
  background-position: -310px 0;
  width: 50px;
  height: 50px;
}

.sprite.detroit-red-wings {
  background-position: -385px 0;
  width: 50px;
  height: 50px;
}

.sprite.florida-panthers {
  background-position: -460px 0;
  width: 50px;
  height: 50px;
}

.sprite.montreal-canadiens {
  background-position: -535px 0;
  width: 50px;
  height: 50px;
}

.sprite.new-jersey-devils {
  background-position: -610px 0;
  width: 50px;
  height: 50px;
}

.sprite.new-york-islanders {
  background-position: -685px 0;
  width: 50px;
  height: 50px;
}

.sprite.new-york-rangers {
  background-position: -760px 0;
  width: 50px;
  height: 50px;
}

.sprite.ottawa-senators {
  background-position: -835px 0;
  width: 50px;
  height: 50px;
}

.sprite.philadelphia-flyers {
  background-position: -910px 0;
  width: 50px;
  height: 50px;
}

.sprite.pittsburgh-penguins {
  background-position: -985px 0;
  width: 50px;
  height: 50px;
}

.sprite.tampa-bay-lightning {
  background-position: -1060px 0;
  width: 50px;
  height: 50px;
}

.sprite.toronto-maple-leafs {
  background-position: -1135px 0;
  width: 50px;
  height: 50px;
}

.sprite.washington-capitals {
  background-position: -1210px 0;
  padding-right: 0;
  width: 50px;
  height: 50px;
}

.sprite.western-conference-logo {
  background-position: -38px -75px;
  padding-right: 15px;
  width: 70px;
  height: 50px;
}

.sprite.anaheim-ducks {
  background-position: -123px -75px;
  width: 50px;
  height: 50px;
}

.sprite.arizona-coyotes {
  background-position: -198px -75px;
  width: 50px;
  height: 50px;
}

.sprite.calgary-flames {
  background-position: -273px -75px;
  width: 50px;
  height: 50px;
}

.sprite.chicago-blackhawks {
  background-position: -348px -75px;
  width: 50px;
  height: 50px;
}

.sprite.colorado-avalanche {
  background-position: -423px -75px;
  width: 50px;
  height: 50px;
}

.sprite.dallas-stars {
  background-position: -498px -75px;
  width: 50px;
  height: 50px;
}

.sprite.edmonton-oilers {
  background-position: -573px -75px;
  width: 50px;
  height: 50px;
}

.sprite.los-angeles-kings {
  background-position: -648px -75px;
  width: 50px;
  height: 50px;
}

.sprite.minnesota-wild {
  background-position: -723px -75px;
  width: 50px;
  height: 50px;
}

.sprite.nashville-predators {
  background-position: -798px -75px;
  width: 50px;
  height: 50px;
}

.sprite.san-jose-sharks {
  background-position: -873px -75px;
  width: 50px;
  height: 50px;
}

.sprite.st-louis-blues {
  background-position: -948px -75px;
  width: 50px;
  height: 50px;
}

.sprite.vancouver-canucks {
  background-position: -1023px -75px;
  width: 50px;
  height: 50px;
}

.sprite.vegas-golden-knights {
  background-position: -1098px -75px;
  width: 50px;
  height: 50px;
}

.sprite.winnipeg-jets {
  background-position: -1173px -75px;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 767px) {
  .sprite-container {
    margin-left: 33%;
  }
  .nhl-row-1 {
    width: 315px;
    padding-bottom: 50px
  }
  .nhl-row-2 {
    clear: both;
    padding-top: 20px;
    width: 315px;
    margin-left: -40px;
  }
  .sprite.eastern-conference-logo {
    display: none;
  }
  .sprite.western-conference-logo {
    display: none;
  }
}
